Package: com.lucas.py.eggshellpro
Name: eggshellpro
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: EggshellPro
Maintainer: Community Fork
Author: Lucas Jackson
Section: Tweaks
